header{
position: relative;
width: 940px;
margin: 0 auto;

}


.logo{
	width: 250;
}

nav ul{
	position: absolute;
	top: 80px;
	right: 50px;
}

nav li{
	display: inline;

}

nav a{
	font-size: 25px;
	color: #000000;
	text-decoration: none;
	margin-right: 10px;
	text-transform: uppercase;
}

main{
	position: relative;
	width: 940px;
	margin: 90px auto;
}

.imagens{
	width: 200px;
	height: 122px;

}

main li{
	display: inline-block;
	margin-right: 70px;
	vertical-align: top;

}

.logo-rodape{
	width: 50;
}

footer{
	background:#D4F8AA ;
	text-align: center;
}

footer p{
	font-size: 12px;
	padding: 0;
}
