.cabecalho{
	background:#D4F8AA;
	height: 150px;
}

header{
position: relative;
width: 940px;
margin: 0 auto;
}


.logo{
	position: relative;
	top: 40px;
	width: 150px;
}

nav ul{
	position: absolute;
	top: 70px;
	right: 50px;
}

nav li{
	display: inline;

}

nav a{
	font-size: 25px;
	color: #000000;
	text-decoration: none;
	margin-right: 10px;
	text-transform: uppercase;
}

main{
	position: relative;
	width: 940px;
	margin: 150px auto;
}


main h2{
	text-align: center;
	font-size: 18px;
	font-style: italic;
}

main p{
	margin-top: 15px;
}

.imagens{
	width: 200px;
	height: 122px;

}

main li{
	display: inline-block;
	position: relative;
	right: 0px;
	text-align: center;
	margin-right: 20px;
	vertical-align: top;
	border: 2px solid #808080;
	padding: 50 20;
	border-radius: 10px;

}

.logo-rodape{
	width: 50;
}

footer{
	background:#D4F8AA ;
	text-align: center;
}

footer p{
	font-size: 12px;
	padding: 0;
}
